*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #212529;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
body::-webkit-scrollbar{
   display: none;
}
.main-container{
    margin:0 auto;
    padding: 10px 20px;
}

img{
    display: block;
    width: 100%;
}

.heading{
    text-align: center;
    margin: .1em 0;
}

.add-todo{
    margin: 2em 0;
}

#todo-text{
    border: 0;
    background: #adb5bd;
    color: #000;
    font-size: 1.1rem;
    padding: 8px 16px;
    outline: 0;
    width: 100%;
}

.box{
    margin: 1.2em 0;
    margin-top: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box .heading{
    text-align: left;
    font-size: 1.7rem;
}

.statistics span{
    height: 2em;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    background: #000;
    margin: 0 .8em;
    padding: 0 6px;
    padding-top: 3px;
}
.statistics span:last-child{
    margin-right: 0;
}

.statistics > span >strong{
    color: #2ec4b6;
}

.all-todo{
    height: 55vh;
    margin-top: 1.5em;
    padding: 0 2px;
    overflow: hidden;
    overflow-y: auto;
}

.all-todo::-webkit-scrollbar{
    width: 3px;
}
.all-todo::-webkit-scrollbar-track{
    background-color: #fff;
}
.all-todo::-webkit-scrollbar-thumb{
    background-color: #dc143c;
}

.all-todo li{
    background-color: #343a40;
    margin: 1em 0;
    padding: 6px;
    padding-right: 100px;
    position: relative;
    list-style: none;
    transition: all 700ms;
}

.all-todo .todo-detail{
    color: #fff;
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 5px;
    overflow: hidden;
}
.all-todo li:hover{
    background-color: #0f3a64;
}

.all-todo li:first-child{
    margin-top: 0;
}
.all-todo li:last-child{
    margin-bottom: 0;
}

.show-all-todo{
    word-wrap:break-word;
    white-space:normal !important;
}

.svg-icons, .todo-detail{
cursor: pointer;
}

.svg-icons{
    position:absolute;
    width:1.5rem;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
}

#more{
    right: 4.2em
}
#edit{
    right: 2.1em;
}
.isDone_true{
    color: #14ae06 !important;
    text-decoration:1.5px line-through #fff;
}

/* Media Queries */


@media screen and (min-width:768px) {
    html{
        font-size: 16.5px;
    }
    body{
        width: 768px;
        margin: auto;
    }
}
@media screen and (max-width:480px) {
    .main-container{
        padding:0 5px;
    }
    .statistics span{
        margin: 0 .5em;
    }
}
@media screen and (max-height:640px){
    body{
        overflow: visible;
    }
    .main-container{
        margin-bottom: 1em;
    }
}